<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <div>
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <div class="container d-flex justify-content-between">
                <h1 style="color: white;">Home</h1>
                <div class="d-flex justify-content-end">
                    <button id="reg-btn" class="btn btn-secondary" onclick="window.location.href='/register'">Register</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="login-btn" class="btn btn-secondary" onclick="window.location.href='/login'">Login</button>
                </div>
            </div>
        </nav>
    </div>




</body>
</html>